<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Featured Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading" class="ion-text-center" style="display:block;margin:20px auto"></ion-spinner>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let item of featuredList">
      <ion-label>
        <h2>{{ item.item_name }}</h2>
        <p>Category: {{ item.category }}</p>
        <p>Price: ${{ item.price }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>